.mySketchGame, .mySketch {
    margin: auto;

}
p{
    margin: auto; 
    padding: 0px;
    font-size: 150px;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(95, 61, 194);
}
.container{
    position: absolute;
    width: 100%;
}
br{
  display: block;
  content:"";
}
.textContent{
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

.subtitle{
    margin-top: 10px;
    color:white;
    font-size: 35px;
}
@font-face {
    font-family: Baskerville;
    src: url(fonts/BaskervilleMTStd-SemiBd.woff);
    line-gap-override: 20%;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 0%;
  margin: 0;
  padding: 0;
}

.bask{
    font-family: Baskerville;
    font-size: 100px;
    margin: 0;
    padding: 0;
    line-height: 0%;

}
.instruction{
    font-size: 38px;
    padding: 0;
}

a:link {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
    color: rgb(148, 112, 255);
    background-color: transparent;
    text-decoration: none;
}

