.mySketchGame, .mySketch {
    margin: auto;
}

p{
    margin:auto;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(95, 61, 194);
}

/* overlaps js with html */
.container{
    position: absolute;
    width: 100%;
}

/* centers text */
.textContent{
    margin: auto;
    width:50%;
    margin-top: 60px;
}

@font-face {
    font-family: Baskerville;
    src: url(fonts/BaskervilleMTStd-SemiBd.woff);
    line-gap-override: 20%;
}

/* fontface pulled from google fonts*/
.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 200px;
  line-height: 80%;
}

.bask{
    font-family: Baskerville;
    font-size: 150px;
    margin: 0px;
    line-height: 90%;
}

.garaSubtitle{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    line-height: 115%;
    color:white;
    font-size: 50px;
}

.button{
    text-decoration: none;
    background-color: transparent;
}

.button:visited {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.button:hover {
    color: rgb(148, 112, 255);
    background-color: transparent;
    text-decoration: none;
}

